* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: tomato;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgb(30, 30, 30);
  color: whitesmoke;
}

.go-back {
  padding: 0.5rem;
  background-color: whitesmoke;
  color: rgb(30, 30, 30);
  border: none;
  border-radius: 19%;
}

.wrapper {
  padding: 1rem;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

label {
  margin-bottom: 0.5rem;
}

input {
  height: 1.7rem;
}

#username {
  margin-bottom: 1rem;
}

table {
  margin: 0 auto;
  font-family:'Courier New', Courier, monospace;
  text-align: center;
}

thead {
  font-family:'Courier New', Courier, monospace;
  font-size: larger;
}

tr {
  border: 1px solid rgb(30, 30, 30);
  background-color: beige;
}

td {
  width: 10%;
  padding: 0.5rem;
  border: 1px solid rgb(30, 30, 30);
}